
.carousel-inner{
    height: 30em;
    border-radius: 5px;
    .caption1{
        color: black;
    }
    .description1{
        color: black;
    }
    .indicator1{
        background-color: black;
    }
}